<div class="row">

    <div class="col-3">
        <app-donut title="Ventas"

        ></app-donut>
    </div>

    <div class="col-3">
        <app-donut title="Cambios"
                   [labels]="labels1"
                   [data]="data1"
        ></app-donut>
    </div>

</div>

<div class="row">

    <div class="col-3">
        <app-donut title="Compras"
        ></app-donut>
    </div>

    <div class="col-3">
        <app-donut title="Mas compras"
        ></app-donut>
    </div>

</div>
